// This function pulls specific color values from the below map
@function color($color, $tone: 'base') {
  @if map-has-key($color-map, $color) {
    @return map-get(map-get($color-map, $color), $tone);
  }
}

// Map for storing all color variables
$color-map: (
  primary: (
    darkest: #0D3331,
    darker: #20504F,
    dark: #38A89D,
    base: #4DC0B5,
    light: #64D5CA,
    lighter: #A0F0ED,
    lightest: #E8FFFE
  ),

  secondary: (
    darkest: #3f362a,
    darker: #7e6c54,
    dark: #bda27e,
    base: #D2B48C,
    light: #d6bb97,
    lighter: #e4d2ba,
    lightest: #f1e8dc
  ),

  action: (
    darkest: #3B0D0C,
    darker: #621B18,
    dark: #CC1F1A,
    base: #E3342F,
    light: #EF5753,
    lighter: #F9ACAA,
    lightest: #FCEBEA
  ),

  mono: (
    black: #111,
    darkest: #3D4852,
    darker: #606F7B,
    dark: #8795A1,
    base: #B8C2CC,
    light: #DAE1E7,
    lighter: #F1F5F8,
    lightest: #F8FAFC,
    white: #FFFFFF
  )
);
