// Styles for containers to enforce common textures among container elements

// Function for getting container-specific styles
@function container($style, $type: 'base') {
  @if map-has-key($containers-map, $style) {
    @return map-get(map-get($containers-map, $style), $type);
  }
}

$g-box-shadow-shade-1: rgba(color(mono, darkest), 0.08);
$g-box-shadow-shade-2: rgba(color(mono, darkest), 0.12);
$g-box-shadow-shade-3: rgba(color(mono, darkest), 0.16);
$g-box-shadow-shade-4: rgba(color(mono, darkest), 0.2);
$g-box-shadow-shade-5: rgba(color(mono, darkest), 0.24);

$containers-map: (
  border-radius: (
    small: spacing(quart),
    base: spacing(half),
    large: spacing()
  ),

  box-shadow: (
    1: (0 0 5px $g-box-shadow-shade-1, 0 0 5px $g-box-shadow-shade-4),
    2: (0 4px 8px $g-box-shadow-shade-2, 0 0 8px $g-box-shadow-shade-4),
    3: (0 8px 24px $g-box-shadow-shade-3, 0 0 24px $g-box-shadow-shade-4),
    4: (0 12px 32px $g-box-shadow-shade-4, 0 4px 32px $g-box-shadow-shade-4),
    5: (0 16px 42px $g-box-shadow-shade-5, 0 10px 42px $g-box-shadow-shade-4)
  )
);