// All variables related to the grid, including breakpoints

// For pulling specific breakpoint width values out.
// Not for adding breakpoint styles.
@function breakpoint($width) {
  @if map-has-key($breakpoint-map, $width) {
    @return map-get($breakpoint-map, $width);
  }
}

// Map for the breakpoints and max width
$breakpoint-map: (
  sm: rem(480px),
  md: rem(787px),
  lg: rem(900px),
  max-width: rem(1200px)
);
