@import '../_tools/modular-scale';
@import '../_tools/calc';

// All layout variables, such as spacing, layering, and others. Not grid ones, which refer to screen sizes and dimensions.

// For pulling specific spacing values
// Can be used for margins or padding
@function spacing($space: 4) {
  @if map-has-key($spacing-map, $space) {
    @return map-get($spacing-map, $space);
  }
}

@function zindex($layer) {
  @if map-has-key($z-layers, $layer) {
    @return map-get($z-layers, $layer);
  }
}

// Modular Scale variables
$g-modular-scale--base: rem(16px);
$g-modular-scale--ratio: 1.2; // Minor third

:root {
  --spacing-none: 0;
  --spacing-px: 1px;
  --spacing-border: #{decimal-round(modular-scale(-9), 2)};
  --spacing-1: #{decimal-round(modular-scale(-6), 2)};
  --spacing-2: #{decimal-round(modular-scale(-3), 2)};
  --spacing-3: #{decimal-round(modular-scale(-1), 2)};
  --spacing-4: #{decimal-round(modular-scale(0), 2)};
  --spacing-neg-4: #{decimal-round(modular-scale(0), 2) * -1};
  --spacing-5: #{decimal-round(modular-scale(1), 2)};
  --spacing-6: #{decimal-round(modular-scale(2), 2)};
  --spacing-8: #{decimal-round(modular-scale(3), 2)};
  --spacing-10: #{decimal-round(modular-scale(4), 2)};
  --spacing-12: #{decimal-round(modular-scale(5), 2)};
}

$spacing-map: (
  none: var(--spacing-none),
  0: var(--spacing-none),
  px: var(--spacing-px),
  border: var(--spacing-border),
  1: var(--spacing-1),
  2: var(--spacing-2),
  3: var(--spacing-3),
  4: var(--spacing-4),
  neg4: var(--spacing-neg-4),
  5: var(--spacing-5),
  6: var(--spacing-6),
  8: var(--spacing-8),
  10: var(--spacing-10),
  12: var(--spacing-12),
);

$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001,
);
