.zz-btn {
  display: inline-block;
  padding: spacing(half) spacing();

  text-decoration: none;

  border-radius: container(border-radius, small);
}

.zz-btn-small {
  padding: spacing(half);

  font-size: type(font-size, small);
}

.zz-btn-large { padding: spacing(); }
