
@each $palette, $swatches in $color-map {
  @each $label, $color in $swatches {
    .zz-bg-#{$palette}-#{$label} { background-color: $color; }
    .zz-border-#{$palette}-#{$label} { border-color: $color; }
    .zz-color-#{$palette}-#{$label} { color: $color; }
  }
}
