#{$g-nmsp}-block { display: block; }
#{$g-nmsp}-inline-block { display: inline-block; }
#{$g-nmsp}-inline { display: inline; }

@each $layer, $shadow in map-get($containers-map, box-shadow) {
  
  $hover-layer: $layer - 1;

  #{$g-nmsp}-box-shadow-#{$layer},
  #{$g-nmsp}-box-shadow-#{$layer}-hover {
    box-shadow: $shadow;
    transition: box-shadow 0.5s;
  }

  @if ($hover-layer > 0) {
    #{$g-nmsp}-box-shadow-#{$hover-layer}-hover {
      @include hovers() {
        box-shadow: $shadow;
        transition: box-shadow 0.5s;
        cursor: pointer;
      }
    } 
  } 
}

@each $label, $radius in map-get($containers-map, border-radius) {
  #{$g-nmsp}-border-radius-#{$label} { border-radius: $radius; }
}
