
#{$g-nmsp}-hidden { display: none; }

@each $label, $bp in $breakpoint-map {
  $bp-label-final: '';

  @if ($label != 'xs') {
    #{$g-nmsp}-hidden-#{$label}-up {
      @include larger-than($label) { display: none; }
    }
    #{$g-nmsp}-hidden-#{$label}-down {
      @include smaller-than($label) { display: none; }
    }
  }
}

#{$g-nmsp}-overflow-x-scroll { overflow-x: scroll; }
#{$g-nmsp}-overflow-y-scroll { overflow-y: scroll; }
