$header-els: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';

body { font-family: type(font-family, base); }

code,
kbd { font-family: type(font-family, mono); }

.zz-italic { font-style: italic; }

@each $header in $header-els {
  #{$header} { font-family: type(font-family, header); }
}

@each $label, $font-family in map-get($typography-map, font-family) {
  #{$g-nmsp}-font-family-#{$label} { font-family: $font-family; }
}

@each $label, $weight in map-get($typography-map, font-weight) {
  #{$g-nmsp}-font-weight-#{$label} { font-weight: $weight; }
}

@each $label, $font-size in map-get($typography-map, font-size) {
  #{$label},
  #{$g-nmsp}-font-size-#{$label} { font-size: $font-size; }
}

@each $label, $line-height in map-get($typography-map, line-height) {
  #{$label},
  #{$g-nmsp}-line-height-#{$label} { line-height: strip-unit($line-height); }
}

@each $label, $margin in map-get($typography-map, margin) {
  #{$label},
  #{$g-nmsp}-type-margin-#{$label} { margin: $margin; }
}


@each $bp-label, $bp in $breakpoint-map {
  $bp-label-final: '';

  @if ($bp-label != 'xs') { $bp-label-final: '-' + $bp-label; }

  @include larger-than(#{$bp-label}) {
    #{$g-nmsp}-text-center#{$bp-label-final} { text-align: center; }
    #{$g-nmsp}-text-right#{$bp-label-final} { text-align: right; }
    #{$g-nmsp}-text-left#{$bp-label-final} { text-align: left; }
  } 
}
