$header-els: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';

body { font-family: type(font-family, base); }

code,
kbd { font-family: type(font-family, mono); }

#{$g-nmsp}underline,
#{$g-nmsp}underline-links a { text-decoration: underline; }

#{$g-nmsp}no-underline { text-decoration: none; }
#{$g-nmsp}underline-hover {
  @include hovers() { text-decoration: none; }
}

#{$g-nmsp}italic { font-style: italic; }
#{$g-nmsp}lower { text-transform: lowercase; }
#{$g-nmsp}upper { text-transform: uppercase; }
#{$g-nmsp}capitalize { text-transform: capitalize; }
#{$g-nmsp}capitalize-sentence::first-letter { text-transform: capitalize; }
#{$g-nmsp}text-transform-none { text-transform: none; }

@each $header in $header-els {
  #{$header} { font-family: type(font-family, header); }
}

@each $label, $font-family in map-get($typography-map, font-family) {
  #{$g-nmsp}font-family-#{$label} { font-family: $font-family; }
}

@each $label, $weight in map-get($typography-map, font-weight) {
  #{$g-nmsp}font-weight-#{$label} { font-weight: $weight; }
}

@each $label, $font-size in map-get($typography-map, font-size) {
  #{$label},
  #{$g-nmsp}font-size-#{$label} { font-size: $font-size; }
}

@each $label, $line-height in map-get($typography-map, line-height) {
  #{$label},
  #{$g-nmsp}line-height-#{$label} { line-height: strip-unit($line-height); }
}

@each $label, $margin in map-get($typography-map, margin) {
  #{$label},
  #{$g-nmsp}type-margin-#{$label} { margin: $margin; }
}

#{$g-nmsp}list-style-disc { list-style: disc; }
#{$g-nmsp}list-none { list-style-type: none; }

#{$g-nmsp}list-inline,
#{$g-nmsp}list-inline-flex {
  margin: 0;

  list-style-type: none;

  li {
    display: inline;
    margin: 0;
  }
}

#{$g-nmsp}list-inline-flex li { display: flex; }

@each $bp-label, $bp in $breakpoint-map {
  @include rsp-class($bp, $bp-label, 'text-center') { text-align: center; }
  @include rsp-class($bp, $bp-label, 'text-right') { text-align: right; }
  @include rsp-class($bp, $bp-label, 'text-left') { text-align: left; }
}
