#{$g-nmsp}-flex { display: flex; }
#{$g-nmsp}-inline-flex { display: inline-flex; }

#{$g-nmsp}-flex-item { flex: 0 1 auto; }
#{$g-nmsp}-flex-nogrow { flex-grow: 1; }

@for $i from 1 through $g-grid-columns {
  $perc-width: percentage($i/$g-grid-columns);

  @each $bp-label, $bp-width in $breakpoint-map {
    $bp-label-final: '';

    @if ($bp-label != 'xs') { $bp-label-final: '-' + $bp-label; }

    @include larger-than($bp-label) {
      #{$g-nmsp}-flex-basis-#{$i}#{$bp-label-final} {
        flex-basis: $perc-width;
        max-width: $perc-width;
      }
    }
  }
}

@each $bp-label, $bp-width in $breakpoint-map {
  $bp-label-final: '';

  @if ($bp-label != 'xs') { $bp-label-final: '-' + $bp-label; }

  @include larger-than($bp-label) {
    #{$g-nmsp}-flex-wrap#{$bp-label-final} { flex-wrap: wrap; }
    #{$g-nmsp}-flex-nowrap#{$bp-label-final} { flex-wrap: nowrap; }
    #{$g-nmsp}-flex-row#{$bp-label-final} { flex-direction: row; }
    #{$g-nmsp}-flex-row-reverse#{$bp-label-final} { flex-direction: row-reverse; }
    #{$g-nmsp}-flex-column#{$bp-label-final} { flex-direction: column; }
    #{$g-nmsp}-flex-column-reverse#{$bp-label-final} { flex-direction: column-reverse; }

    #{$g-nmsp}-flex-align-start#{$bp-label-final} { align-items: flex-start; }
    #{$g-nmsp}-flex-align-center#{$bp-label-final} { align-items: center; }
    #{$g-nmsp}-flex-align-end#{$bp-label-final} { align-items: flex-end; }
    #{$g-nmsp}-flex-align-baseline#{$bp-label-final} { align-items: baseline; }
    #{$g-nmsp}-flex-align-stretch#{$bp-label-final} { align-items: stretch; }

    #{$g-nmsp}-flex-align-self-start#{$bp-label-final} { align-self: flex-start; }
    #{$g-nmsp}-flex-align-self-center#{$bp-label-final} { align-self: center; }
    #{$g-nmsp}-flex-align-self-end#{$bp-label-final} { align-self: flex-end; }
    #{$g-nmsp}-flex-align-self-baseline#{$bp-label-final} { align-self: baseline; }
    #{$g-nmsp}-flex-align-self-stretch#{$bp-label-final} { align-self: stretch; }

    #{$g-nmsp}-flex-justify-start#{$bp-label-final} { justify-content: flex-start; }
    #{$g-nmsp}-flex-justify-center#{$bp-label-final} { justify-content: center; }
    #{$g-nmsp}-flex-justify-end#{$bp-label-final} { justify-content: flex-end; }
    #{$g-nmsp}-flex-justify-between#{$bp-label-final} { justify-content: space-between; }
    #{$g-nmsp}-flex-justify-around#{$bp-label-final} { justify-content: space-around; }

    #{$g-nmsp}-flex-center#{$bp-label-final} {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
