@each $bp-label, $bp in $breakpoint-map {
  
  $bp-label-final: '';

  @if ($bp-label != 'xs') { $bp-label-final: '-' + $bp-label; }

  @include larger-than($bp-label) {
    @each $label, $length in $spacing-map {
      // Margin
      #{$g-nmsp}-m-#{$label}#{$bp-label-final} { margin: $length; }
      #{$g-nmsp}-mt-#{$label}#{$bp-label-final} { margin-top: $length; }
      #{$g-nmsp}-mr-#{$label}#{$bp-label-final} { margin-right: $length; }
      #{$g-nmsp}-mb-#{$label}#{$bp-label-final} { margin-bottom: $length; }
      #{$g-nmsp}-ml-#{$label}#{$bp-label-final} { margin-left: $length; }
      
      #{$g-nmsp}-mx-#{$label}#{$bp-label-final} {
        margin-right: $length;
        margin-left: $length;
      }
      
      #{$g-nmsp}-my-#{$label}#{$bp-label-final} {
        margin-top: $length;
        margin-bottom: $length;
      }

      // Padding
      #{$g-nmsp}-p-#{$label}#{$bp-label-final} { padding: $length; }
      #{$g-nmsp}-pt-#{$label}#{$bp-label-final} { padding-top: $length; }
      #{$g-nmsp}-pr-#{$label}#{$bp-label-final} { padding-right: $length; }
      #{$g-nmsp}-pb-#{$label}#{$bp-label-final} { padding-bottom: $length; }
      #{$g-nmsp}-pl-#{$label}#{$bp-label-final} { padding-left: $length; }
      
      #{$g-nmsp}-px-#{$label}#{$bp-label-final} {
        padding-right: $length;
        padding-left: $length;
      }
      
      #{$g-nmsp}-py-#{$label}#{$bp-label-final} {
        padding-top: $length;
        padding-bottom: $length;
      }
    }
  }

  // Auto margin classes that only need breakpoint vars

  #{$g-nmsp}-mx-auto#{$bp-label-final} {
    margin-right: auto;
    margin-left: auto;
  }

  #{$g-nmsp}-my-auto#{$bp-label-final} {
    margin-top: auto;
    margin-bottom: auto;
  }

  #{$g-nmsp}-mt-auto#{$bp-label-final} { margin-top: auto; }
  #{$g-nmsp}-mr-auto#{$bp-label-final} { margin-right: auto; }
  #{$g-nmsp}-mb-auto#{$bp-label-final} { margin-bottom: auto; }
  #{$g-nmsp}-ml-auto#{$bp-label-final} { margin-left: auto; }
}
