@each $bp-label, $bp in $breakpoint-map {
  
  $bp-label-final: '';

  @if ($bp-label != 'xs') { $bp-label-final: '-' + $bp-label; }

  @include larger-than($bp-label) {
    @each $label, $length in $spacing-map {
      // Margin
      .zz-m-#{$label}#{$bp-label-final} { margin: $length; }
      .zz-mt-#{$label}#{$bp-label-final} { margin-top: $length; }
      .zz-mr-#{$label}#{$bp-label-final} { margin-right: $length; }
      .zz-mb-#{$label}#{$bp-label-final} { margin-bottom: $length; }
      .zz-ml-#{$label}#{$bp-label-final} { margin-left: $length; }
      
      .zz-mx-#{$label}#{$bp-label-final} {
        margin-right: $length;
        margin-left: $length;
      }
      
      .zz-my-#{$label}#{$bp-label-final} {
        margin-top: $length;
        margin-bottom: $length;
      }

      .zz-mt-auto-#{$label}#{$bp-label-final} { margin-top: auto; }
      .zz-mr-auto-#{$label}#{$bp-label-final} { margin-right: auto; }
      .zz-mb-auto-#{$label}#{$bp-label-final} { margin-bottom: auto; }
      .zz-ml-auto-#{$label}#{$bp-label-final} { margin-left: auto; }
      
      .zz-mx-auto-#{$label}#{$bp-label-final} {
        margin-right: auto;
        margin-left: auto;
      }
      
      .zz-my-auto-#{$label}#{$bp-label-final} {
        margin-top: auto;
        margin-bottom: auto;
      }

      // Padding
      .zz-p-#{$label}#{$bp-label-final} { padding: $length; }
      .zz-pt-#{$label}#{$bp-label-final} { padding-top: $length; }
      .zz-pr-#{$label}#{$bp-label-final} { padding-right: $length; }
      .zz-pb-#{$label}#{$bp-label-final} { padding-bottom: $length; }
      .zz-pl-#{$label}#{$bp-label-final} { padding-left: $length; }
      
      .zz-px-#{$label}#{$bp-label-final} {
        padding-right: $length;
        padding-left: $length;
      }
      
      .zz-py-#{$label}#{$bp-label-final} {
        padding-top: $length;
        padding-bottom: $length;
      }
    }

    .zz-mx-auto#{$bp-label-final} {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
