@each $label, $length in $spacing-map {
  // Margin
  .zz-m-#{$label} { margin: $length; }
  .zz-mt-#{$label} { margin-top: $length; }
  .zz-mr-#{$label} { margin-right: $length; }
  .zz-mb-#{$label} { margin-bottom: $length; }
  .zz-ml-#{$label} { margin-left: $length; }
  
  .zz-mx-#{$label} {
    margin-right: $length;
    margin-left: $length;
  }
  
  .zz-my-#{$label} {
    margin-top: $length;
    margin-bottom: $length;
  }

  // Padding
  .zz-p-#{$label} { padding: $length; }
  .zz-pt-#{$label} { padding-top: $length; }
  .zz-pr-#{$label} { padding-right: $length; }
  .zz-pb-#{$label} { padding-bottom: $length; }
  .zz-pl-#{$label} { padding-left: $length; }
  
  .zz-px-#{$label} {
    padding-right: $length;
    padding-left: $length;
  }
  
  .zz-py-#{$label} {
    padding-top: $length;
    padding-bottom: $length;
  }
}

.zz-mx-auto {
  margin-right: auto;
  margin-left: auto;
}